<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png" >
    <!-- Relative path -->
    <!-- <link rel="stylesheet" href="./css/styles.css"> -->
    <!-- Absolute path / refers to the public folder -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>{{message}}</p>
      <img class="portrait" src="/images/us.jpg" />
    </div>
    
    {{>footer}}
  </body>
</html>