<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/images/weather.png" >
    <!-- Relative path -->
    <!-- <link rel="stylesheet" href="./css/styles.css"> -->
    <!-- Absolute path / refers to the public folder -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>{{message}}</p>
    </div>

    {{>footer}}
  </body>
</html>